<footer
  class="py-10 bg-light-secondary dark:bg-dark-secondary p-5 grid gap-24 lg:py-20 lg:px-40"
  id="footer"
>
  <div class="justify-self-center max-w-lg lg:max-w-max">
    <app-contact></app-contact>
  </div>

  <div
    class="border-t border-solid border-light-foreground dark:border-dark-foreground pt-10 flex flex-col sm:flex-row sm:justify-between gap-1 text-center justify-center"
  >
    <theme-logo></theme-logo>
    <theme-menu></theme-menu>
    <theme-social-links></theme-social-links>
  </div>
</footer>
