<nav class="flex gap-5 justify-center mt-5 sm:mt-0 place-items-center h-full">
  <h3 class="sr-only">Social Links</h3>
  <a
    *ngFor="let socialMedia of socialLinks.socialMedias"
    [href]="socialMedia.link"
    class="text-light-foreground hover:text-light-accent dark:text-dark-foreground dark:hover:text-dark-accent"
    rel="noopener noreferrer"
    target="_blank"
  >
    <span class="sr-only">{{ socialMedia.description }}</span>
    <div [innerHTML]="socialMedia.svg"></div>
  </a>
</nav>
