<section id="about" class="grid place-items-center gap-5m gap-5 layout">
  <img src="../../../assets/images/image-profile-mobile.webp" alt="image-profile" class="layout-image">
  <h1 class="font-normal font-bold text-4xl leading-40 text-center tracking-tighter sm:text-7xl layout-heading">Nice to meet you! I’m Adam Keyes.</h1>
  <p class="font-normal font-medium text-base leading-26 text-center sm:text-lg layout-message">Based in the UK, I’m a front-end developer passionate about building accessible web apps that users love.</p>
  <theme-button class="inline-block max-w-max self-center layout-action">CONTACT ME</theme-button>
</section>
