<section
  class="grid place-items-center gap-5m gap-5 layout md:place-items-start md:gap-0 relative"
  id="about"
>
  <img
    class="absolute z-0 top-[30%] right-[70%]"
    src="assets/svg/pattern-rings.svg"
  />
  <img
    class="absolute z-20 bottom-[28%] left-[85%] md:bottom-[0%] md:left-[90%] xl:bottom-[11%] xl:left-[55%]"
    src="assets/svg/pattern-circle.svg"
  />
  <app-social-links
    class="layout-social z-20 md:mt-5 self-stretch justify-self-stretch"
  ></app-social-links>
  <picture class="layout-image z-10">
    <source
      *ngFor="let source of AboutPageData.sources"
      [media]="source.media"
      [srcset]="source.src"
    />
    <img
      [alt]="AboutPageData.img.alt"
      [ngSrc]="AboutPageData.img.src"
      [height]="AboutPageData.img.height"
      [width]="AboutPageData.img.width"
    />
  </picture>

  <h1
    class="font-normal font-bold text-4xl leading-40 text-center tracking-tighter md:text-7xl layout-heading md:text-start lg:text-8xl z-10"
  >
    {{ AboutPageData.greeting }}
    <span class="underline underline-offset-9 decoration-custom-accent">{{
      AboutPageData.name
    }}</span
    >.
  </h1>
  <p
    class="font-normal font-medium text-base leading-26 text-center md:text-lg layout-message md:text-start"
  >
    {{ AboutPageData.about }}
  </p>
  <theme-link
    [href]="AboutPageData.link"
    class="inline-block max-w-max self-center layout-action"
    >{{ AboutPageData.actionLabel }}
  </theme-link>
</section>
