<div class="grid gap-0.5 relative">
  <label
    class="text-light-foreground dark:text-dark-foreground"
    for="{{ fieldId }}"
    >{{ label }}</label
  >
  <div class="flex place-items-center">
    <textarea
      [formControl]="control"
      [ngClass]="base.inputClasses"
      class="bg-transparent border-b border-solid w-full focus:outline-none resize-y p-5 text-light-primary dark:text-dark-primary"
      id="{{ fieldId }}"
      rows="4"
      attr.aria-describedby="{{ fieldId }}-error-icon {{ fieldId }}-errors"
      aria-live="polite"
    ></textarea>
    <span
      *ngIf="base.isInvalid"
      class="absolute right-0 text-light-alert dark:text-dark-alert"
    >
      <svg
        fill="none"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        id="{{ fieldId }}-error-icon"
      >
        <title>Error</title>
        <circle cx="12" cy="12" r="11.5" stroke="#FF6F5B" />
        <rect fill="#FF6F5B" height="9" rx="1" width="2" x="11" y="6" />
        <rect fill="#FF6F5B" height="2" rx="1" width="2" x="11" y="17" />
      </svg>
    </span>
  </div>
  <p
    *ngIf="base.isInvalid"
    id="{{ fieldId }}-errors"
    class="grid gap-0.5 justify-end text-light-alert dark:text-dark-alert"
  >
    <span
      *ngFor="let error of base.errorMessages"
      class="text-light-alert dark:text-dark-alert inline-block"
      >{{ error }}</span
    >
  </p>
</div>
