<main class="grid gap-20 xl:gap-28 bg-custom-black overflow-hidden">
  <div
    class="max-w-6xl p-5 sm:p-10 pb-20 sm:pb-24 md:pt-0 md:pr-0 md:pb-0 justify-self-center"
  >
    <div class="relative">
      <app-social-links
        class="absolute top-0 left-0 right-0 z-10 md:top-8 md:mr-6"
      ></app-social-links>
    </div>
    <app-about></app-about>
  </div>
  <div
    class="grid gap-20 xl:gap-28 p-5 sm:p-10 pb-20 sm:pb-24 md:pt-0 overflow-hidden"
  >
    <app-skills></app-skills>
    <app-projects></app-projects>
  </div>
</main>
