<section class="grid gap-10" id="projects">
  <section class="flex justify-around">
    <h1 class="font-normal font-bold text-4xl leading-40 tracking-tighter">Projects</h1>
    <theme-button>CONTACT ME</theme-button>
  </section>
  <section *ngFor="let project of projects" class="grid gap-5">
    <picture>
      <source *ngFor="let source of project.picture.sources" [media]="source.media" [srcset]="source.src">
      <img [alt]="project.picture.img.src" [src]="project.picture.img.alt">
    </picture>
    <h1>{{project.title}}</h1>
    <p class="flex gap-5"><span *ngFor="let skill of project.skills">{{skill}}</span></p>
    <div class="flex justify-between">
      <theme-link [href]="project.url.project" target="_blank">VIEW PROJECT</theme-link>
      <theme-link [href]="project.url.code" target="_blank">VIEW CODE</theme-link>
    </div>
  </section>
</section>
