<section id="projects">
  <section>
    <h1>Projects</h1>
    <theme-button>CONTACT ME</theme-button>
  </section>
  <section *ngFor="let item of projects">
    <picture>
      <source [srcset]="item.imgSmall" media="(max-width: 768px)">
      <source [srcset]="item.imgLarge" media="(max-width: 1024px)">
      <img [src]="item.imgSmall" [alt]="item.alt">
    </picture>
    <h1>{{item.title}}</h1>
    <p><span *ngFor="let skill of item.skills">{{skill}}</span></p>
    <theme-button>VIEW PROJECT</theme-button>
    <theme-button>VIEW CODE</theme-button>
  </section>
</section>
