<section id="skills">
  <h2 class="sr-only">
    {{ skillPageData.title }}
  </h2>
  <div
    class="flex flex-wrap border-t border-b border-solid border-light-foreground dark:border-dark-foreground py-10 gap-10 xl:border-b-0 xl:pt-20 xl:pb-0 relative px-[10%] justify-center h-96 overflow-hidden md:h-auto"
    [ngClass]="{ 'h-auto': isExpanded }"
  >
    <img
      class="absolute bottom-[0] left-[80%] select-none"
      src="assets/svg/pattern-rings.svg"
      alt=""
    />
    <section
      *ngFor="let item of skillPageData.Skills"
      class="grid gap-3.5 place-items-center"
    >
      <h3 class="sr-only">{{ item.name }}</h3>
      <div
        [innerHTML]="item.svg"
        class="overflow-hidden w-12 h-12 lg:w-24 lg:h-24 flex place-items-center"
      ></div>

      <theme-link [href]="item.link" [target]="'_blank'">{{
        item.name
      }}</theme-link>
    </section>

    <theme-button
      *ngIf="!isExpanded"
      (click)="toggleIsExpanded()"
      class="absolute right-0 bottom-5 md:hidden"
      >{{ skillPageData.showButtonText }}</theme-button
    >
    <theme-link
      *ngIf="isExpanded"
      [href]="'#skills'"
      (click)="toggleIsExpanded()"
      class="absolute right-0 bottom-6 md:hidden"
      >{{ skillPageData.hideButtonText }}</theme-link
    >
  </div>
</section>
