<section
  class="grid border-t border-b border-solid border-custom-foreground py-10 gap-5 sm:grid-cols-2 xl:grid-cols-3 xl:border-b-0 xl:pt-20 xl:pb-0 relative"
  id="skills"
>
  <img
    class="absolute bottom-[0] left-[80%]"
    src="assets/svg/pattern-rings.svg"
  />
  <section
    *ngFor="let item of skillPageData"
    class="text-center sm:text-left md:grid md:gap-3.5"
  >
    <h1
      class="font-normal font-bold text-2xl md:text-5xl leading-40 tracking-tighter"
    >
      {{ item.name }}
    </h1>
    <p
      *ngIf="item.text"
      class="font-normal font-medium text-base leading-26 md:text-lg"
    >
      {{ item.text }}
    </p>
  </section>
</section>
