<section
  class="flex flex-col sm:flex-row sm:justify-between gap-1 text-center justify-center"
>
  <a
    class="font-normal font-bold text-2xl leading-8 tracking-tighter sm:text-3xl text-custom-white"
    href="#"
  >
    adamkeyes
  </a>
  <nav class="flex gap-5 justify-center mt-5 sm:mt-0 place-items-center">
    <a
      class="text-custom-white hover:text-custom-green"
      href="#"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg-github></svg-github>
    </a>
    <a
      class="text-custom-white hover:text-custom-green"
      href="#"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg-frontend-mentor></svg-frontend-mentor>
    </a>
    <a
      class="text-custom-white hover:text-custom-green"
      href="#"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg-linkedin></svg-linkedin>
    </a>
    <a
      class="text-custom-white hover:text-custom-green"
      href="#"
      rel="noopener noreferrer"
      target="_blank"
    >
      <svg-twitter></svg-twitter>
    </a>
  </nav>
</section>
