<section class="flex flex-col gap-1 text-center justify-center">
  <h1>adamkeyes</h1>
  <section class="flex gap-0.5">
    <img src="../../../assets/svg/icons-github-fill.svg" alt="github">
    <img src="../../../assets/svg/simple-icons_frontendmentor.svg" alt="frontendmentor">
    <img src="../../../assets/svg/LinkedIn.svg" alt="LinkedIn">
    <img src="../../../assets/svg/twitter-icons.svg" alt="twitter">
  </section>
  <img src="../../../assets/images/image-profile-mobile.webp" alt="image-profile">
</section>
