<section role="region" class="flex items-center h-full justify-center">
  <h2 class="sr-only">Logo</h2>
  <a
    class="font-normal font-bold text-2xl leading-8 tracking-tighter sm:text-3xl text-light-foreground dark:text-dark-foreground flex place-items-center gap-2 justify-center"
    [href]="socialLinks.nameLink"
  >
    <div
      [innerHTML]="socialLinks.logo"
      class="text-light-foreground hover:text-light-accent dark:text-dark-foreground dark:hover:text-dark-accent fill-current stroke-current"
    ></div>
    <p
      class="text-light-foreground hover:text-light-accent dark:text-dark-foreground dark:hover:text-dark-accent"
    >
      {{ socialLinks.name }}
    </p>
  </a>
</section>
