<section class="grid gap-5 lg:grid-cols-2 lg:gap-64" id="contact">
  <section class="grid">
    <h1
      class="font-normal font-bold text-4xl leading-40 text-center tracking-tighter md:text-7xl lg:text-8xl"
    >
      Contact
    </h1>
    <p
      class="font-normal font-medium text-base leading-26 text-center md:text-lg"
    >
      I would love to hear about your project and how I could help. Please fill
      in the form, and I’ll get back to you as soon as possible.
    </p>
  </section>
  <form (ngSubmit)="onSubmit()" [formGroup]="contactForm" class="grid gap-10">
    <theme-input
      [control]="contactForm.controls.name"
      [errorDefinitions]="{ required: 'Name is required.' }"
      fieldId="name"
      label="Name"
      placeholder="NAME"
    >
    </theme-input>
    <theme-input
      [control]="contactForm.controls.email"
      [errorDefinitions]="{
        required: 'Email is required.',
        email: 'Email must be a valid email address.'
      }"
      fieldId="email"
      label="Email"
      placeholder="EMAIL"
      type="email"
    >
    </theme-input>

    <theme-textarea
      [control]="contactForm.controls.message"
      [errorDefinitions]="{ required: 'Message is required.' }"
      fieldId="message"
      label="Message"
      placeholder="MESSAGE"
    >
    </theme-textarea>
    <theme-button class="max-w-max justify-self-end" type="submit"
      >SEND MESSAGE
    </theme-button>
  </form>
</section>
