/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  font-family: "Roboto", sans-serif;
  color: white;
}

p {
  color: #d9d9d9;
}

label {
  opacity: 50%;
}
