/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1,h2, h3, h4, h5, h6, label {
  font-family: 'Roboto', sans-serif;
  color: white;
}

p{
  color: #D9D9D9;
}

label{
  opacity: 50%;
}
